
@{
    ViewData["Title"] = "Inicio Sesion";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IniciarSesion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Styles.css">
    <link rel="stylesheet" href="~/font-awesome/css/all.min.css">
</head>
<body>
    <section class="home">
        <div class="content">
            <h2> Welcome!!!</h2>
            <p>
                My name is Kevin. I'm 20 years old when I was born. I'm currently studying information technology.
                I just learned to do fronted so I hope you guys support my tiktok channel. Forever love
            </p>
        </div>
        <div class="login">
            <h2>Log in</h2>
            <form asp-controller="Login" asp-action="IniciarSesion" method="post" enctype="multipart/form-data">
                <div class="input-box">
                    <span class="icon">
                        <i class="fa-solid fa-envelope"></i>
                    </span>
                    <input type="email" class="input" placeholder="Enter your email" autocomplete="off" required name="correo">
                </div>
                <div class="input-box">
                    <span class="icon">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" class="input" placeholder="Enter your password" autocomplete="off" required name="clave">
                    </span>
                </div>
                <div class="input-box">
                    <label for="rol">Selecciona un rol:</label>
                    <select style="background-color: black;" class="form-control" id="rol" name="rol" required>
                        <option value="...">...</option>
                        <option value="1">Administrador</option>
                        <option value="2">Cliente</option>
                        <!-- Agrega más opciones según tus roles -->
                    </select>
                </div>
                <br><br>
                <button type="submit"> Log in </button>
                @if (ViewData["Mensaje"] != null)
                {

                    <div class="form-group">
                        <div class="alert alert-danger" role="alert">
                            @ViewData["Mensaje"]
                        </div>
                    </div>
                }
                <div class="register-link">
                    <p>You do not have an account?</p>
                    <a href="@Url.Action("Registro","Login")"> Sign up now</a>
                </div>
            </form>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

